/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #0f172a;
  color: #e2e8f0;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

/* Navbar */
.navbar {
  padding: 20px 0;
  background: #0f172a;
  border-bottom: 1px solid #1e293b;
  position: sticky;
  top: 0;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #94a3b8;
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  color: #38bdf8;
}

/* Hero */
.hero {
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.subtitle {
  color: #94a3b8;
  max-width: 600px;
  margin: auto;
  margin-bottom: 30px;
}

/* Buttons */
.btn {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 6px;
  margin: 5px;
  display: inline-block;
}

.primary {
  background: #38bdf8;
  color: #0f172a;
}

.outline {
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

.outline:hover {
  background: #38bdf8;
  color: #0f172a;
}

/* Sections */
.section {
  padding: 80px 0;
}

.section h2 {
  margin-bottom: 30px;
  font-size: 28px;
}

.alt {
  background: #111827;
}

/* Cards */
.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card h3 {
  margin-bottom: 10px;
}

.card a {
  color: #38bdf8;
  text-decoration: none;
  font-size: 14px;
}

.small-text {
  font-size: 13px;
  color: #94a3b8;
}

/* Tech Grid */
.tech-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-grid span {
  background: #1e293b;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 13px;
  border: 1px solid #334155;
}

/* Footer */
footer {
  text-align: center;
  padding: 30px;
  border-top: 1px solid #1e293b;
  color: #94a3b8;
  font-size: 14px;
}
